
<p>Here is your new grid: <%= @new_grid %> </p>

<p>What's your best shot ?</p>
<form action="/score" method="get">
  <label for="shot">Your shot: </label>
  <input type="text" name="attempt" id="shot" placeholder="FLAT">
  <input type="hidden" name="grid" value="<%= @new_grid %>">
  <input type="hidden" name="start" value= "<%= @start_time %>">
  <p>Press enter</p>
</form>

